<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>
      <%= 'Anvitha' %>
    </title>
    <%= stylesheet_link_tag 'anvitha', :media => 'screen' %>
  </head>
  <body class="admin_login">
    <div id="header">      
      <h1>
        <a href="#">Anvitha</a>
        <%= link_to 'Sign Out', user_session_path(), :method => :delete if current_user %>        
      </h1>
      <span class="marque"> <marquee> Many hearts  </marquee></span>
    </div>    

    <div class="container admin_container">      
        <%= yield %>   
    </div>
  </body>
</html>